<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>

    <body>
        <h1>We'll come back soon</h1>
        <p>This website is out of service now.</p>

        {{> footer}}
    </body>
</html>